<div class="card employee-card">
    <div class="card-image" style="background-image: url(https://vignette.wikia.nocookie.net/a-team/images/c/c9/Mr._T.jpg/revision/latest?cb=20100925014130)">
    </div>
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
        <h4 class="card-title">"Bad Attitude"</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">School: {{ school }}</li>
        </ul>
    </div>
</div>
