<div class="card employee-card">
    <div class="card-image" style="background-image: url(https://i.pinimg.com/originals/8d/92/af/8d92afbd9c82acfa1c26b8cabe14b516.jpg)">
    </div>
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
        <h4 class="card-title">"Hannibal"</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
